/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 992px;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

img {
    width: 100%;
    display: block;
    padding: 0 20px;
}

/* MAIN */

.card-wrapper {
    flex-wrap: wrap;
}

.card-wrapper li {
    margin: 40px 10px;
}

.card-wrapper li img {
    /* height: 200px; */
    width: 200px; 
}

.card-wrapper li .image {
    align-items: center;
    height: 100%;
}

.info-product div {
    padding: 10px 0;
}

.info-product span {
    font-weight: 700;
    font-size: 15px;
}